<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @* Bootswatch Theme*@
    <link href="~/lib/bootswatch/morph/bootstrap.min.css" rel="stylesheet" />

    @*JS Lib*@
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Joole By Itlize</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home",null, new { @class = "nav-link active" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("About", "About", "Home",null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Contact", "Contact", "Home",null, new { @class = "nav-link" })
                    </li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Categorys", "Index", "Categorys",null, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Product", "Index", "Categorys",null, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Orders", "Index", "Categorys",null, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Customers", "Index", "Categorys",null, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Reports", "Index", "Categorys",null, new { @class = "nav-link" })</li>

                        <li>@Html.ActionLink("Welcome, " + User.Identity.Name, "Login", "Security",null, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Security",null, new { @class = "nav-link" })</li>

                    }
                    else
                    {
                        <li>@Html.ActionLink("Register", "Register", "Security",null, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Login", "Login", "Security",null, new { @class = "nav-link" })</li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    @* <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Joole by Itlize", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Categorys", "Index", "Categorys")</li>
                            <li>@Html.ActionLink("Product", "Index", "Categorys")</li>
                            <li>@Html.ActionLink("Orders", "Index", "Categorys")</li>
                            <li>@Html.ActionLink("Customers", "Index", "Categorys")</li>
                            <li>@Html.ActionLink("Reports", "Index", "Categorys")</li>

                            <li>@Html.ActionLink("Welcome, " + User.Identity.Name, "Login", "Security")</li>
                            <li>@Html.ActionLink("Logout", "Logout", "Security")</li>

                        }
                        else
                        {
                            <li>@Html.ActionLink("Register", "Register", "Security")</li>
                            <li>@Html.ActionLink("Login", "Login", "Security")</li>
                        }



                    </ul>
                </div>
            </div>
        </div> *@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Created by Mann, Yutian and Duy</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
